* {
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
p { font-size: calc(100% + 0.4vw); }
h1, h2, h3, h4, h5, h6, p {
    margin: 1%;
    box-sizing: border-box;
}
h1 { font-size: calc(100% + 5vw); }
h3 { font-size: calc(100% + 3vw); }
h5 { font-size: calc(100% + 1vw); }

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

main {
    height: 95vh;
    background: transparent;
}

footer {
    height: 5%;
    background-color: transparent;
    color: #0263f4;
    border: 1px solid #aed5ff;
}
.scrollMenuContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
}
.menues {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 5vh;
    width: 33vw;
    cursor: pointer;
    transition: 2s;
    font-weight: bold;
    background-position: 0 0rem;
}
.menues:hover {
    background-image: linear-gradient(#d6f2ff, #7bc1e1);
    background-position: 0 calc(100% + 6px);
    transition: 2s;
}

.scrollMenuContainer::-webkit-scrollbar-button {
    width: 1px;
}
.scrollMenuContainer::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.scrollMenuContainer::-webkit-scrollbar-track {
    background: #dddcdc;        
}
.scrollMenuContainer::-webkit-scrollbar-thumb {
    background-color: #615d5d;
    border-radius: 10px;
    border: 4px solid #dddcdc;
}
