* {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

main {
    height: 95vh;
    background: #dddcdc;
}

footer {
    height: 5%;
    background-color: #615d5d;
}
.scrollMenuContainer {
    display: flex;
    flex-direction: row;
}
.menues {
    flex: 1;
    text-align: center;
}