* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #253646;
}


.settings-timeranout, .settings-timestart {
    height: calc(100% - 88px);
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: #253646;
    color: white;
}

.settings-form-container {
    position: fixed;
    width: 100%;
    background: #1a2832;
    left: 0;
    height: 50px;
    transition: 0.5s;
}
.settings-form-container-show {
    top: 0px;
}
.settings-form-container-hide {
    top: -50px;
}
.settings-form-container form {
    height: inherit;
}
.settings-select-container {
    color: white;
    height: inherit;
    text-align: center;
    padding: 10px 2%;
}
.settings-select {
    border: none;
    outline: none;
    height: 25px;
    vertical-align: middle;
}
.selectLabel {
    border: none;
    outline: none;
    height: 25px;
    vertical-align: middle;
}

/*-------This is settings button customization (footer)-------*/
.settings-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    padding: 5px 10px;
    background-color: #293442;
}
.settings-btn {
    height: 100%;
    width: 4%;
    min-width: 30px;
    max-width: 50px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
}
.settings-btn:hover {
    background-color: whitesmoke;
}