html 
    head
    body
        form(action="/", method="POST")
            div
                label(for="firstName") First Name:
                input(name="firstName" value="")
            br
            div
                label(for="lastName") Last Name:
                input(name="lastName" value="")
            br
            button(type="submit") Send Details