* {
    box-sizing: border-box;
}

:root {
    --fullHeight: 100%;
    --fullWidth: 100%;
    --scoreBoardBG: lightgray;
    --scoreInfo: gray;
}

body {
    margin:0;
    padding: 1%;
    position: absolute;
    height: var(--fullHeight);
    width: var(--fullWidth);
}

#wildShootOut__page {
    height: var(--fullHeight);
    width: var(--fullWidth); 
}

#wildShootOut__game {
    height: 10%; 
    display: flex;
    justify-content: space-between;  
}

#wildShootOut__score {
    display:flex;
    height: 20%; 
}
#wildShootOut__scoreBoard, #wildShootOut__scoreBoardTriesLeft, #wildShootout__scoreBoardTimer {
    flex: 1;
    height: var(--fullHeight);
    background-color: var(--scoreBoardBG);
    text-align: center;
    font-size: 12vh;
    color: var(--scoreInfo);
}

#wildShootOut__board { 
    border: 1px solid gray;
}
.wildShootOut__boardCards {
    display: inline-block;
    width: 24%;
    height: 250px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0.5%;
}
.wildShootOut__boardCards__brick {
    position: absolute;
    width: var(--fullWidth); 
    height: 50px;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-image: url('./images/bricks.jpg');
}
.wildShootOut__boardCards__bad, .wildShootOut__boardCards__friend {
    background-size: cover;
    z-index: 1;
    position: absolute;
    height: 250px;
    top: 250px;
    /* width: var(--fullWidth); */
    left: 0;
    transition: 1s;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    margin: 0 auto;
    cursor: crosshair;
}
.wildShootOut__boardCards__bad {
    background-image: url('./images/terrorits2.png');
}
.wildShootOut__boardCards__friend {
    background-image: url('./images/citizen.png');
}
.wildShootOut__boardCards__bad--show, .wildShootOut__boardCards__friend--show {
    top: 0px;
}
