* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: steelblue;
}

.movie-container {
    padding: 1%;
}
.screenViewContainer {
    perspective: 100px;
    position: relative;
    text-align: center;
}
.screenView {
    height: 60px;
    width: 80%;
    background: white;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
    display: inline-block;
}
.screenseatsInfo {
    width: 70%;
}
.seatsPosition {
    display: flex;
    flex-direction: row;
}
.seats {
    background-color: white;
    border:1px solid gray;
    height: 80px;
    width: 80px;
    margin: 10px;
}