section { 
    margin:-1EM; 
}
.black {
    background-color: black;
}
.color-0 { 
    background-color: #85C4ED;
}	
.color-1 { 
    background-color: #58ADE3;
}
.color-2 { 
    background-color: #3499DB;
}
.color-3 { 
    background-color: #0F85D1;
}
.color-4 { 
    background-color: #0665A2;
}
.wet-asphalt {
    background-color:#34495e;
}
    