doctype html
html
    head
        link(href=url rel="stylesheet")
    body
        main(class="black")
            section(id="space") 
                div(id="p0" class="row")
                div(id="p1" class="row")
            section(id="stratosphere" class="wet-asphalt")
                div(id="p2" class="row wet-asphalt")
                div(id="p3" class="row color-4")
                div(id="p4" class="row color-3") 
                div(id="p5" class="row color-2")
                div(id="p6" class="row color-1")
            section(id="sky" class="color-1")
                div(id="p7" class="row color-0")
                div(id="p8" class="row color-0")
                div(id="p9" class="row color-0")
                div(id="p10" class="row color-0")
                div(id="p11" class="row color-0")
                div(id="p12" class="row color-0")
                div(id="p13" class="row color-0")
            section(id="objects")
            section(id="terra")
                div(id="ground")
                    div
                    div